{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
    {{ block.super }}
        <table style="width: 30%; border-collapse: collapse;">
            <tr>
                <td><strong>Цена работ:</strong></td>
                <td style="text-align: right; font-size: 20px;">{{ total_work_price }}</td>
            </tr>
            <tr>
                <td><strong>Цена работ со скидкой:</strong></td>
                <td style="text-align: right; font-size: 20px;">{{ total_work_price_with_discount }}</td>
            </tr>
            <tr>
                <td><strong>Цена запчастей:</strong></td>
                <td style="text-align: right; font-size: 20px;">{{ total_supply_price }}</td>
            </tr>
            <tr>
                <td><strong>Цена запчастей со скидкой:</strong></td>
                <td style="text-align: right; font-size: 20px;">{{ total_supply_price_with_discount }}</td>
            </tr>
            <tr>
                <td><strong>Итоговая цена со скидкой:</strong></td>
                <td style="text-align: right; font-size: 20px;">{{ total_price_with_discount }}</td>
            </tr>
        </table>
{% endblock %}